{#
author: 文天尧，黄祉琪，高煜嘉
create: 2020-07-16
update: 2020-07-21
#}

{% extends 'base.html' %}

{% block title %}课程{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/course.css') }}">

{% endblock %}

{% block main %}
{#    <br><div class="btn-group btn-group-justified" role="group" aria-label="...">#}
{#        <a href="{{ url_for('courseUpdate') }}" class="btn-group" role="group">#}
{#            <button type="button" class="btn btn-default" id="0">今日更新课程</button>#}
{#        </a>#}
{#        <a href="{{ url_for('coursePredict') }}" class="btn-group" role="group">#}
{#            <button type="button" class="btn btn-default" id="1">课程预测</button>#}
{#        </a>#}
{#        <a href="{{ url_for('courseRecommend') }}" class="btn-group" role="group">#}
{#            <button type="button" class="btn btn-default" id="2">课程推荐</button>#}
{#        </a>#}
{#    </div><br>#}

{#    <div class="form-group">#}
    <a href="{{ url_for('courseRecommend') }}"><img class="courseimg" src="{{ url_for('static',filename='images/courseRecommend.jpg') }}" alt="..." ></a>
    <a href="{{ url_for('courseUpdate') }}"><img class="courseimg" src="{{ url_for('static',filename='images/courseUpdate.png') }}" alt="..." ></a>
    <a href="{{ url_for('coursePredict') }}"><img class="courseimg" src="{{ url_for('static',filename='images/coursePredict.jpg') }}" alt="..." ></a>

    <br><br>
{#    <input name="imgbtn" type="image" src="images/Home.jpg" width="50" height="35" border="0">#}
{#    <input name="imgbtn" type="image" src="images/Home.jpg" width="50" height="35" border="0">#}
{#    <input name="imgbtn" type="image" src="images/Home.jpg" width="50" height="35" border="0">#}
{#    </div>#}
    <span>
        {% for msg in get_flashed_messages() %}
            {{ msg }}
        {% endfor %}
    </span>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">精品课程推荐</h3>
        </div>
        <a href="https://mooc1.chaoxing.com/course/200001892.html">
            <div class="panel-body">
                <div class="introduce">
                    <div class="introduce-l">
                        <p><img class="courseimg2" src="https://p.ananas.chaoxing.com/star3/origin/effadb037789a73f7c9217ab4553c3bb.jpg" alt="..." ></p>
                    </div>
                    <div class="introduce-r">
                        <h3>大学生创业导论</h3>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;创业主要是由在校大学生和大学毕业生群体组成。现今大学生创业问题越来越受到社会各界的密切关注，因为大学生属于高级知识人群，并且经过多年的教育往往背负着社会和家庭的种种期望。在现今社会经济不断发展就业形势却不容乐观的情况下，大学生创业也自然成为了大学生就业之外的新兴的现象。<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;根据人力资源和社会保障部的统计，2012年-2014年的就业状况不是很理想。所以许多大学生都选择参加《全国青年创新商业人才培养工程》来实现就业。同时，国家也推出了一系列的创业扶持政策，比如:青年创业引领计划公益扶持基金、中小微企业扶持基金等。<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本课程重点放在对学生创业素质的培养和创业基础知识的介绍，同时指导学生以团队形式开展一些项目化的实践训练。旨在引导学生尽早树立创业意识，学会创新性思维，提升精神心理品质，了解企业创建和运行管理的基础知识，提升实践创新能力。</p>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">精品课程推荐</h3>
        </div>
        <a href="http://mooc1.chaoxing.com/course/201884103.html">
            <div class="panel-body">
                <div class="introduce">
                    <div class="introduce-l">
                        <p><img class="courseimg2" src="https://p.ananas.chaoxing.com/star3/270_169c/8118778215cc48cc2c9e0b7f3d6ac0d8.jpg" alt="..." ></p>
                    </div>
                    <div class="introduce-r">
                        <h3>遗传学</h3>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;遗传学是生物类专业的基础课程，遗传学教学是生物学人才培养过程中重要的组成部分。复旦大学的遗传学教学在全国遗传学创始人谈家桢直接领导下，经过著名的遗传学家刘祖洞教授，赵寿元教授的建设，遗传学教学领域中取得了令人瞩目的成果，曾获得上海市教学成果奖一等奖一项，国家级教学成果奖两项，对中国遗传学教学的发展，做出了重要的贡献。现今，在国家级教学名师乔守怡教授的带领下，中青年教师吴燕华、林娟和卢大儒组成了第三代的遗传学教学团队。团队成员通过多年的改革与实践，建成了清晰的教学理念，系统完整的教学体系，科学有效的教学模式。团队始终以弘扬遗传学学术精神为核心，坚持持久稳重的教学改革，突出教师在改革中的主导作用，强调教师的教学能力和综合能力，以“学术、技术、艺术”三“术”为能力提高的目标；突出学生在改革中的主体地位，重视学生的学习成效与人才培养，以“领悟、感悟、觉悟”三“悟”为教学成效的目标。</p>
                    </div>
                </div>
            </div>
        </a>
    </div>

{% endblock %}