{#
author: 高煜嘉，黄祉琪，文天尧
create: 2020-07-09
update: 2020-07-23
#}

{% extends 'base.html' %}

{% block title %}注册{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login_register.css') }}">
    <style>
        body {
            background-image: url("../static/images/login.png");
            background-repeat: no-repeat;
            background-position: center;
        }</style>
{% endblock %}

{% block main %}
    <br><br><br><br>
    <h3 class="page-title">注册</h3><br>
    <form action="" method="post">
        <div class="form-container">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="手机号码（前11位为有效位）" name="telephone">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="邮箱" name="email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="用户名" name="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control ipt" placeholder="密码" name="password1">
                <p class="message">6~16位字符（数字、字母、下划线），区分大小写</p>
                <input type="password" class="form-control" placeholder="确认密码" name="password2">
            </div>
{#            <div class="form-group">#}
{#                <input type="password" class="form-control" placeholder="确认密码" name="password2">#}
{#            </div>#}
            <div class="form-group">
                <button class="btn btn-primary btn-block"> 立即注册</button>
            </div>
        </div>
    </form>


    <script>
        // 首先判断的事件是表单失去焦点 onblur
        // 如果输入正确则提示正确的信息颜色为绿色小图标变化
        // 如果输入不是6到18位，则提示错误信息颜色为红色，小图标变化
        // 因为里面变化样式较多，我们采取className修改样式
        // 1.获取元素
        var ipt = document.querySelector('.ipt');
        var message = document.querySelector('.message');
        {#var str = /(^[a-zA-Z]\w{5,17}$)/#}
        //2. 注册事件 失去焦点
        ipt.onblur = function () {
            // 根据表单里面值的长度 ipt.value.length
            if (this.value.length < 6 || this.value.length > 16) {
                // console.log('错误');
                message.className = 'message wrong';
                message.innerHTML = '× 密码最短支持6个字符，最长支持16个字符';
            }
            else if (/^\w+$/.test(this.value) == false) {
                message.className = 'message wrong';
                message.innerHTML = '× 密码只能包含数字、字母和下划线';
            }
            else {
                message.className = 'message right';
                message.innerHTML = '√ 密码格式正确';
            }
        }
    </script>
{% endblock %}