{#
author: 文天尧，黄祉琪，徐婉青
create: 2020-07-09
update: 2020-07-21
#}

{% extends 'base.html' %}

{% block title %}查询{% endblock %}

{% block head %}
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block main %}
    <h3 class="page-title">学校专业查询</h3><br>

    <form class="form-inline" action="{{ url_for('schoolQueryResult') }}" method="get">
        <div class="form-group">
            <label for="exampleInputName2">学校</label>
            <input name="s" type="text" class="form-control" id="exampleInputName2" placeholder="请输入学校名称">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">专业</label>
            <input name="m" type="text" class="form-control" id="exampleInputEmail2" placeholder="请输入专业名称">
        </div>
        <button type="submit" class="btn btn-default">查找</button>
    </form>
    <br>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>课程名称</th>
            <th>学校名称</th>
            <th>专业名称</th>
            <th>课程详情</th>
            <th>查看评论</th>
            <th>参与课程</th>
        </tr>
        </thead>
        <tbody>
        {% if id==0 %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <strong>Warning!</strong> 请先登录再参与课程
            </div>
        {% endif %}

        {% for course in courses %}
            <tr>

                <th scope="row" name="cname">{{ course.name }}</th>
                <td name="school">{{ course.school }}</td>
                <td name="majors">{{ course.major }}</td>
                <td name="cinfo"><a href="{{ course.info }}"> 课程详情 </a></td>
                <td><a href="{{ url_for('comment',ccid = course.cid) }}">评论({{ course.comments }})</a></td>
                {% if user_id %}
                    <form action="{{ url_for('attend', acid = course.cid) }}" method="post">
                        <td>
{#                            <input type="button" class="btn btn-primary btn-block" value="参与课程" onclick=alert('已加入参与课程，请到个人中心查看！') >#}
                            <button class="btn btn-primary btn-block" id="btn" onclick=alert('已加入参与课程，请到个人中心查看！')>
                                参与课程
                            </button>
                        </td>
                    </form>
                {% else %}
                    <form action="{{ url_for('attend', acid = course.cid) }}" method="post">
                        <td>
                            <button class="btn btn-primary btn-block" disabled="disabled" title="参与课程请先登录！">
                                参与课程
                            </button>
                        </td>
                    </form>
                {% endif %}
            </tr>

        {% endfor %}
        {#        {{ pagination.links }}#}
        </tbody>
    </table>

    {#    <nav aria-label="Page navigation">#}
    {#        <ul class="pagination">#}
    {#            <li {% if not paginate.has_prev %}class="disabled" {% endif %}>#}
    {#                <a href="{{url_for('schoolQuery')}}?page={{ paginate.prev_num }}" aria-label="Previous">#}
    {#                    <span aria-hidden="true">&laquo;</span>#}
    {#                </a>#}
    {#            </li>#}
    {#            {% for num in range(1,paginate.pages+1) %}#}
    {#            <li {% if num == paginate.page %}class="active"{% endif %} ><a href="{{url_for('schoolQuery')}}?page={{ num }}">{{ num }}</a></li>#}
    {#            {% endfor %}#}
    {#            <li {% if not paginate.has_next %}class="disabled" {% endif %}>#}
    {#                <a href="{{url_for('schoolQuery')}}?page={{ paginate.next_num }}" aria-label="Next">#}
    {#                    <span aria-hidden="true">&raquo;</span>#}
    {#                </a>#}
    {#            </li>#}
    {#        </ul>#}
    {#    </nav>#}

    {{ pagination.links }}

{#    <script type="text/javascript">#}
{#        $('#btn').click(function () {#}
{#            alert("已加入参与课程，请到个人中心查看");#}
{#        })#}
{#    </script>#}

{% endblock %}

{#<form class="form-inline">#}
{#  <div class="form-group">#}
{#    <label for="exampleInputName2">学校</label>#}
{##}
{##}
{#    <select class="form-control">#}
{#          {% for school1 in schools %}#}
{#        <option selected="selected">上海交通大学</option>#}
{#        <option>{{ school1.school }}</option>#}
{#          <option>浙江大学</option>#}
{#  <option>3</option>#}
{#  <option>4</option>#}
{#  <option>5</option>#}
{#        {% endfor %}#}
{#    </select>#}
{##}
{#    <label for="exampleInputEmail2">专业</label>#}
{##}
{##}
{#    <select class="form-control" name="schoolid">#}
{#        {% for school_major1 in school_major %}#}
{#        <option selected="selected">计算机科学与技术</option>#}
{#        <option value="schoolid">{{ school_major1.major }}</option>#}
{#        <option>电气及其自动化</option>#}
{#        {% endfor %}#}
{#    </select>#}