{#
author: 黄祉琪
create: 2020-07-14
update: 2020-07-14
#}

{% extends 'base.html' %}

{% block title %}邮箱验证{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login_register.css') }}">
    <style>
        body{
        background-image:url("../static/images/email.png");
        background-repeat: no-repeat;
        background-position: center;
    }</style>
{% endblock %}

{% block main %}
    <br><br><br><br><br>
    <h3 class="page-title">验证邮箱发送的验证码</h3><br>
    <form action="" method="post">
        <div class="form-container">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="请输入邮箱" name="email">
            </div>
            <span>
                {% for msg in get_flashed_messages() %}
                    {{ msg }}
                {% endfor %}
            </span>
            <div>
                 <span>
                     <button class="btn btn-primary btn-block">点击发送验证码验证</button>
                </span>
            </div>
        </div>
    </form>
{% endblock %}